8004SCAN_API_KEY=
ALTANA_PAYTO=
ALTANA_FACILITATOR_ADDRESS=
ALTANA_OPERATOR_ADDRESS=
ALTANA_SERVICE_PRICE_RAW_U=
ALTANA_RPC_URL=
ALTANA_TESTNET_PRIVATE_KEY=
FACILITATOR_KEY=
MERCHANT_PAYTO=
PANCAKESWAP_API_KEY=
X402_PAYTO=
